@font-face{
	font-family: warhelioscondc;
	src: url('fonts/warhelioscondc.woff');
}
@font-face{
	font-family: warhelioscondcbold;
	src: url('fonts/warhelioscondcbold.woff');
}
@font-face{
	font-family: akrobat;
	src: url('fonts/akrobat.woff2');
}
@font-face{
	font-family: ProximaNovaT;
	src: url('fonts/ProximaNovaT-Thin.woff');
}
@font-face{
	font-family: OpenSans-Regular;
	src: url('fonts/OpenSans-Regular.woff');
}